{% extends "layout.html" %}
{% block content %}
<div class="about-section">
    <b><h2>About the Book Recommendation System</h2></b>
    <p>
        The <strong>Book Recommendation System</strong> is a user-friendly platform designed to help book enthusiasts discover new books tailored to their preferences. Powered by advanced machine learning algorithms, the system analyzes vast amounts of data, including user reviews, book ratings, and similarities between titles, to provide personalized recommendations.
    </p>
    
    <b><h3>Key Features</h3></b>
    <ul>
        <li><strong>Personalized Book Suggestions</strong>: Enter your favorite book, and the system will suggest similar titles based on content, genre, and user reviews.</li>
        <li><strong>Top 50 Books</strong>: Explore a curated list of the most popular books based on ratings and user votes.</li>
    </ul>
    
    <b><h3>Data Source</h3></b>
    <p>
        This recommendation system is built using a dataset sourced from <strong>Kaggle</strong>'s Book Recommendation Dataset. The dataset includes seven hundreds of books, user ratings, and metadata like authors and publication years. You can find the dataset on Kaggle:
        <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset" target="_blank">Book Recommendation Dataset on Kaggle</a>.
    </p>
    
    <b><h3>GitHub Repository</h3></b>
    <p>
        You can explore the source code and contribute to the project on GitHub. The entire project, including model implementation and Flask application code, is available at:
        <a href="https://github.com/prayesh13/book-recommendation-system" target="_blank">GitHub Code Repository</a>.
    </p>
</div>
{% endblock %}
