{% extends "layout.html" %}
{% block content %}
{% for i in range(book_name|length) %}
    <div class="col-md-3" style="margin-top:30px">
        <div class="card-body">
            <div>
                <img class="card-img-top" style="width: 120px; height: 180px" src="{{ image[i] }}">
                <h4 class="text-color" style="margin-top:5px"> {{ book_name[i] }}</h4>
                <p class="text-color" style="margin-top:15px">{{ author_name[i] }}</p>
                <p class="text-color"> Votes - {{ votes[i] }}</p>
                <p class="text-color">Rating - {{ rating[i] }}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}