{% extends "layout.html" %}
{% block content %}
<div class="form-group">

    <form action="/recommend_books" method="POST">
        <h3 class="text-color" style="margin-top: 20px;"> Select a Book Name :</h3>
        <select name="user_input" class="form-control" style="height: 50px; font-size: 16px;">
            <option value="Select a book" selected disabled>Select a book</option>
            <!-- Populate the dropdown with the list of books (blist) -->
            {% for book in blist %}
                <!-- Check if the current book is the user input and mark it as selected -->
                <option value="{{ book }}" {% if book == uinput %}selected{% endif %}>{{ book }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" class="btn btn-lg btn-success" value="Get Recommendation">
    </form>
</div>

{% if data %}
    <div style="margin-top: 30px;">
        <h4 class="text-color"><b> Entered Book Name: </b>{{ uinput }} </h4>
        <h2 class="text-color" style="margin-top: 30px;"><b> Similar Books: </b></h2>
    </div>
    {% for i in data %}
        <div class="col-md-3" style="margin-top:30px">
            <div class="card-body" style="height: 500px;">
                <div>
                    <img class="card-img-top" style="width: 180px; height: 250px" src="{{ i[2] }}">
                    <h4 class="text-color" style="margin-top:5px"><b> <b> Book Name: </b> </b>{{ i[0] }} </h4>
                    <h5 class="text-color" style="margin-top:15px"><b> <b> Author Name: </b> </b>{{ i[1] }} </h5>
                    <h5 class="text-color" style="margin-top:15px"><b> <b> Year Of Publication: </b> </b>{{ i[3] }} </h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if error_message %}
    <div class="alert alert-danger mt-3">
        {{ error_message }}
    </div>
{% endif %}

{% endblock content %}
