{% extends "layout.html" %}
{% block content %}
<div class="form-group" >

    <form action="/recommend_books" method="POST">
        <h3 class="text-color"> Enter the Book Name :</h3>
        <select name="user_input" class="form-control">
            <option value="" selected disabled>Select a book</option>
            <!-- Populate the dropdown with the list of books (blist) -->
            {% for book in blist %}
                <option value="{{ book }}">{{ book }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" class="btn btn-lg btn-success">
    </form>
</div>
{% if data %}

    {% for i in data %}
        <div class="col-md-3" style="margin-top:30px">
                <div class="card-body">
                    <div>
                        <img class="card-img-top" style="width: 120px; height: 180px" src="{{ i[2] }}">
                        <h3 class="text-color" style="margin-top:5px"><b> {{ i[0] }} </b></h3>
                        <p class="text-color" style="margin-top:15px"><b>{{ i[1] }} </b></p>
                    </div>
                </div>
        </div>
    {% endfor %}
{% endif %}

{% if error_message %}
    <div class="alert alert-danger mt-3">
        {{ error_message }}
    </div>
{% endif %}

{% endblock content %}